altgraph==0.17
backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
decorator==4.4.2
future==0.18.2
idna==3.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.21.0
parso==0.7.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.8
Pygments==2.7.4
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pynput==1.6.8
PySide2==5.15.2
pywin32-ctypes==0.2.0
requests==2.26.0
shiboken2==5.15.2
six==1.16.0
traitlets==5.0.5
urllib3==1.26.6
wcwidth==0.2.5
